
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Lato";
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: aliceblue;
    text-decoration: none;

}

.corpo{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('imagens/vecteezy_abstract-luxury-glowing-lines-curved-overlapping-on-dark_11545792.jpg') no-repeat center center;
    background-size: cover;
    background-color: transparent;
    backdrop-filter: blur(9px);
    z-index: -1;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
    background-size: cover;
    z-index: -1;
}

.container {
    position: absolute;
    padding: 2rem;
    background-image: url(imagens/comprimido.jpg);
    background-size: cover;
    opacity: 80%;
    z-index: 1;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px; 
    border: 1px groove rgba(255, 255, 255, 0.18); 
    background-color: transparent;
    backdrop-filter: blur(60.5px); 
    -webkit-backdrop-filter: blur(60.5px); 
   
}

.form h1 {
    margin-bottom: 1rem;
    font-size: 40px;
}

.form label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}

.form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 0;
    border-bottom: 1px groove red;
    outline: 0;
    cursor: text;
    border-left: transparent;
    background: transparent;
    color: aliceblue;
}

.form input:-webkit-autofill,
.form input:-webkit-autofill:hover, 
.form input:-webkit-autofill:focus,
.form textarea:-webkit-autofill,
.form textarea:-webkit-autofill:hover
.form textarea:-webkit-autofill:focus,
.form select:-webkit-autofill,
.form select:-webkit-autofill:hover,
.form select:-webkit-autofill:focus {
  border: 1px solid white;
  -webkit-text-fill-color: aliceblue;
  -webkit-box-shadow: transparent;
  transition: background-color 5000s ease-in-out 0s;
  border: 0;
  border-bottom: 1px groove red;
}

.form button {
    display: inline-block;
    width: 100%;
    padding: 2rem;
    height: 20px;
    padding-bottom: 60px;
    background: transparent;
    background-image: url(imagens/comprimido2.jpg);
    background-size: contain;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 0.6rem;
    transition: 0.3s ease;
}

.form button:hover {
    transform: scale(1.05); }

span {
    position: relative;
    background: linear-gradient(to right, #0074d9, #ff4136);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background 0.3s;
    top: 10px;
    text-decoration: none;}
    
span:hover {
    background: none; 
    
}

.senha{
    font-size: 18px;
    color: aliceblue;
    top: 2.5px;
    animation-name: cima;
    animation-duration: 1s;
}

.email{
    font-size: 18px;
    position: relative;
    /* background-image: linear-gradient(180deg, rgb(168, 17, 17), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    cursor: text;
    color: aliceblue;
    top: 2.5px;
    animation-name: cima;
    animation-duration: 1s;
}

@keyframes cima {
	from {
		transform: translateY(30px);
		font-size: 12px;
	}
}

.cadastro{
    text-decoration: none;
}

.cadstramento{
    text-decoration: none;
}

a{
    text-decoration: none;
}